.partners-section {
  padding: 40px 20px;
  text-align: center;
}

/* Default desktop size */
.partner-logo {
  height: 100px;
  object-fit: contain;
  margin: 12px;
  transition: transform 0.3s ease;
}

.partner-logo:hover {
  transform: scale(1.05);
}

.section-title{
  color: #00a01a
}
/* === RESPONSIVE BREAKPOINTS === */

/* Tablets */
@media (max-width: 992px) {
  .partner-logo {
    height: 80px;
    margin: 10px;
  }
}

/* Large phones */
@media (max-width: 768px) {
  .partner-logo {
    height: 50px;
    margin: 8px;
  }
  .section-title{
    margin-top: 2px;
}
}

@media (max-width: 480px) {
  .partner-logo {
    height: 60px;
    margin: 6px;
  }
}
@media (max-width: 768px){
  .partners-section{
        text-align: center;
  }

  .partners-section .partners-logo{
    width: 150px !important;   /* uniform
    height: 150px !important;   /* uniform box */
    margin: 0px 0px !important;
    display: inline-block;
    object-fit: contain;        /* no distortion */
    vertical-align: middle;
  }

}
